*.d
*.ko
*.ko.cmd
*.o
*.o.cmd
*.uo
.tmp_versions
Kbuild
Makefile
Module.symvers
autom4te*
config.h
config.log
config.status
configure
elementmap-tcp.xml
kversion.c
modules.order
tcp-kelem.conf
tcp-kelem.mk
tcp-kmain.cc
tcp-uelem.conf
tcp-uelem.mk
tcp-umain.cc
tcp.mod.c