*.d
*.ko
*.ko.cmd
*.o
*.o.cmd
*.uo
.tmp_versions
Kbuild
Makefile
Module.symvers
autom4te*
config.h
config.log
config.status
configure
elementmap-diameter.xml
kversion.c
modules.order
diameter-kelem.conf
diameter-kelem.mk
diameter-kmain.cc
diameter-uelem.conf
diameter-uelem.mk
diameter-umain.cc
diameter.mod.c