*.d
*.ko
*.ko.cmd
*.o
*.o.cmd
*.uo
.tmp_versions
Kbuild
Makefile
Module.symvers
autom4te*
config.h
config.log
config.status
configure
elementmap-gtp.xml
kversion.c
modules.order
gtp-kelem.conf
gtp-kelem.mk
gtp-kmain.cc
gtp-uelem.conf
gtp-uelem.mk
gtp-umain.cc
gtp.mod.c